@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "../LoginRegister/_Layout";
}
<h3 class="display-4 text-center mb-4">LOGOUT</h3>
<div class="alert alert-success mb-4" role="alert">Successfully logged out</div>
<a class="btn btn-secondary" style="width:125px" href="/">
    Home page
</a>
@{
}
