@using DocsWASM.Shared;
@using DocsWASM.Shared.Helpers;


<h3>Annotation</h3>
<button @onclick="(async ()=> await GoBack.InvokeAsync())">Go back</button>
<img loading="lazy" class="mx-auto imgPicture w-25" src="data:@(Page.DocBinType == UploadModels.dataBinTypesEnum.svg ? "image/svg+xml" : "image/webp");base64,@Convert.ToBase64String(Page.Bin)" />

@code {
	[Parameter]
	public DocumentModels.Page Page { get; set; }

	[Parameter]
	public int DocumentId { get; set; }

	[Parameter]
	public EventCallback GoBack { get; set; }

}
