	@inject HttpClient Http
@using static DocsWASM.Shared.PathModels;

<nav aria-label="breadcrumb"style="overflow: auto;overflow-y: hidden;display: block;">
	<div class="d-flex text-nowrap flex-nowrap gap-4">
		@{
			if(currentView == paths.schools)
			{
				<div>
					<span class="badge bg-secondary">
						<i class="bi bi-house"></i>
					</span>
				</div>
			}

			if(school != null)
			{
				<div>
					<span class="badge bg-secondary">school</span> @school
				</div>
			}

			if(yearGroup != null)
			{
				<div>
					<span class="badge bg-secondary">yearGroup</span> @yearGroup
				</div>
			}

			if(subject != null)
			{
				<div>
					<span class="badge bg-secondary">subject id</span> @subject
					</div>
			}

			if(chapter != null)
			{
				<div>
					<span class="badge bg-secondary">chapter id</span> @chapter
				</div>
			}

			if(docType != null)
			{
				<div>
					<span class="badge bg-secondary">docType id</span> @docType
				</div>
			}

		}
	</div>
</nav>

@code {

	[Parameter]
	public string? school { get; set; }

	[Parameter]
	public string? yearGroup { get; set; }

	[Parameter]
	public string? subject { get; set; }

	[Parameter]
	public string? chapter { get; set; }

	[Parameter]
	public string? docType { get; set; }

	[Parameter]
	public paths currentView {get;set;}

}