	@inject HttpClient Http
@using static DocsWASM.Shared.PathModels;

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		@{
			if(currentView == paths.schools)
			{
				<li class="breadcrumb-item">
					/
				</li>
			}

			if(school != null)
			{
				<li class="breadcrumb-item">
					<span class="badge bg-secondary">school</span> @school
				</li>
			}

			if(yearGroup != null)
			{
				<li class="breadcrumb-item">
					<span class="badge bg-secondary">yearGroup</span> @yearGroup
				</li>
			}

			if(subject != null)
			{
				<li class="breadcrumb-item">
					<span class="badge bg-secondary">subject id</span> @subject
				</li>
			}

			if(chapter != null)
			{
				<li class="breadcrumb-item">
					<span class="badge bg-secondary">chapter id</span> @chapter
				</li>
			}

			if(docType != null)
			{
				<li class="breadcrumb-item">
					<span class="badge bg-secondary">docType id</span> @docType
				</li>
			}

		}
	</ol>
</nav>

@code {

	[Parameter]
	public string? school { get; set; }

	[Parameter]
	public string? yearGroup { get; set; }

	[Parameter]
	public string? subject { get; set; }

	[Parameter]
	public string? chapter { get; set; }

	[Parameter]
	public string? docType { get; set; }

	[Parameter]
	public paths currentView {get;set;}

}